/nbproject/private/
/PaxAsteroids/OSGiCommon/target/
/PaxAsteroids/OSGiCore/target/
/PaxAsteroids/OSGiCommonAsteroids/target/
/PaxAsteroids/OSGiCommonBullet/target/
/PaxAsteroids/OSGiCommonPlayer/target/
/PaxAsteroids/OSGiPlayer/target/
/PaxAsteroids/OSGiMap/target/
/PaxAsteroids/OSGiLibGDX/target/
/PaxAsteroids/target/
/PaxAsteroids/OSGiCollision/target/
/PaxAsteroids/OSGiEnemy/target/
/PaxAsteroids/OSGiWeapon/target/
/PaxAsteroids/OSGiCommonWeapon/target/
/PaxAsteroids/OSGiCommenWeapon/target/